* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    background-color: #242582;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width: 100px;
    height: 100px;
}

#tog {
    margin: 10px 0px;
    color: #ffffff;
}

.button {
  display: button;
  height: 5vmin;
  width: 12vmin;
  border-radius: 5vmin;
  color: #ffffff;
  background-color: #553D67;
  font-size: 3vmin;
  cursor: pointer;
  position:absolute; top: 1vmin;; left: 1vmin;;
}